# Dépendances & build
.commit-msg.tmp
node_modules
dist
dist-ssr
*.local

# Env & secrets
.env
.env.*
!.env.example

# Logs & cache
npm-debug.log*
.DS_Store
.cache
.vite

# Outils
coverage
*.tsbuildinfo

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# Firebase (cache local, pas les règles)
.firebase
